langchain-openai
langchain
fastapi
mcp
uvicorn
langchain-community
python-dotenv
serpapi
langchain-mcp-adapters
langgraph-checkpoint-redis
langgraph
langfuse
google-search-results
chromadb
pypdf
uvicorn scrapping_agent.main:agent --host 0.0.0.0 --port 8000
